body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .container{
    margin: 5%;
    padding: 10px 20px;
    border: 3px solid #0D6EFD;
    border-radius: 15px;
    max-width: 500px;
    min-width: 300px;
  }
  .container-content-center{
    margin: 5px;
    padding: 5PX;
  }
  .container-col{
    align-items: center;
  }
  .container_form{
    margin: 5px;
    padding: 5PX;
    align-items: center;
  }
  .text{
    color: #0360ec;
    display: block;
    text-align: center;  
  }
  .form-label{
    display: block;
    position: relative;
    left: 0;
    text-align: left;
    font-size: 20px;
    display: block;;
    color: black;
  }
  .form-input{
    display: block;
    position: relative;
    left: 0;
    margin: 5px;
    padding: 5px;
    border: 1px solid #0D6EFD;
    border-radius: 5px;
  }
  #role{
    background-color: #0360ec;
    border: 1px solid #0D6EFD;
  }
  #signUpButton{
    padding: 15px;
    margin: 5px;
    width: 100%;;
    background-color: #0D6EFD;
    color: white;
    border: 2px solid aliceblue ;
    border-radius: 10px;
  }
  #signUpButton:hover{
    background-color: aliceblue;
    color: #0D6EFD;
    border: 2px solid #0D6EFD;
    border-radius: 10px;
  }
  